---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../lib/newt"; 
import type { Article } from "../../lib/newt";
import '../../styles/algo.scss';

export const getStaticPaths = async () => {
    const { items: articles } = await newtClient.getContents<Article>({
        appUid: 'astro_blog',
        modelUid: 'article',
        query: {
            select: ['title', 'slug', 'body'],
        },
    })
    return articles.map((article) => ({
        params: {
            slug: article.slug
        },
        props: {article},
    }))
}

const { article } = Astro.props;
---

<Layout title="Article">
    <div class="container">
        <h1>{ article.title }</h1>
        <div class="article">
            <article set:html={article.body}></article>
        <div>
    </div>
</Layout>


<style>
    .container {
        position: relative;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;

        /* transform: translateY(-10%); */
        text-align: center;
        color-scheme: light dark;
        color: rgb(255, 255, 255);
    }

    .container h1 + h1 {
        margin-top: 20px; /* 上側のマージンを20pxに設定 */
    }

    .article {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
        color-scheme: light dark;
        color: rgb(255, 255, 255);
        letter-spacing: 1px; /* 文字の間隔を1pxに設定 */
        line-height: 1.5; /* 行間を1.5倍に設定 */
    }

</style>