---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../lib/newt"; 
import type { Article } from "../../lib/newt";
import SimpleIcons from "../../img/sns_icons_simple.astro"; 
import '../../styles/algo.scss';
import '../../styles/_article.scss';
import { getFormattedDate } from '../../utils/formatDate';

export const getStaticPaths = async () => {
    const { items: articles } = await newtClient.getContents<Article>({
        appUid: 'astro_blog',
        modelUid: 'article',
        query: {
            select: ['_id', '_sys', 'title', 'slug', 'meta', 'body', 'coverImage', 'author', 'tags'],
        },
    })
    
    return articles.map((article) => ({
        params: {
            slug: article.slug
        },
        props: {article},
    }))
}
export const getArticleBySlug = async (slug: string) => {
   const article = await newtClient.getFirstContent<Article>({
     appUid: 'corporate-website',
     modelUid: 'article',
     query: {
       slug,
       select: ['_id', '_sys', 'title', 'slug', 'meta', 'body', 'coverImage', 'author', 'tags'],
     },
   });
   return article;
 };

const { article } = Astro.props;

---
<Layout title="Article">
    <div class="container">    
        <h1>{ article.title }</h1>

        <div class="tags">
          <i class="fa fa-calendar"> {getFormattedDate(article._sys.raw.firstPublishedAt)}</i>
          <i class="fa fa-tags"> {article.tags.map(tag => tag.name).join(', ')} </i>
        </div>

        <img src={article.coverImage?.src || '/programming-school-comparison.webp'} alt={article.title} /> 
        <div class="article-wrapper">
          <div class="article-body">
              <article set:html={article.body} />
          </div>
        </div>
    </div>
    
    <SimpleIcons />
</Layout> 

<style>
  .tags {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin :1rem;
  }
  .fa-calendar {
    margin-right: 0.5rem; 
  }
  .fa-tags {
    margin-right: 0.5rem;
  }
  
</style>