---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../lib/newt"; 
import type { Article } from "../../lib/newt";
import '../../styles/algo.scss';
import '../../styles/_article.scss';

export const getStaticPaths = async () => {
    const { items: articles } = await newtClient.getContents<Article>({
        appUid: 'astro_blog',
        modelUid: 'article',
        query: {
            select: ['_id', '_sys', 'title', 'slug', 'meta', 'body', 'coverImage', 'author', 'tags'],
        },
    })
    
    return articles.map((article) => ({
        params: {
            slug: article.slug
        },
        props: {article},
    }))
}
export const getArticleBySlug = async (slug: string) => {
   const article = await newtClient.getFirstContent<Article>({
     appUid: 'corporate-website',
     modelUid: 'article',
     query: {
       slug,
       select: ['_id', '_sys', 'title', 'slug', 'meta', 'body', 'coverImage', 'author', 'tags'],
     },
   });
   return article;
 };

const { article } = Astro.props;
---

<Layout title="Article">
    <div class="container">
        <h1>{ article.title }</h1>
        <img src={article.coverImage?.src || '/programming-school-comparison.webp'} alt={article.title} /> -->
        <div class="article-body">
            <article set:html={article.body} />
        <div>
    </div>
</Layout> 

