@import  "./_common";
@import "./article_header";

main {
    padding-bottom: 200px; /* フッターの高さ以上の余白を確保 */
}

body {
    margin: 0px;
    background-color: black;
}

.heading {
    position: relative;
    text-align: center;
    margin-top: 100px;
    font-size: 2.0rem;
    color:#e5e5e5;
    color: #ffffff;/*文字色*/
    background: transparent;/*背景透明に*/
    border-bottom: 3px solid #3eeded ;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.article {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    color-scheme: light dark;
    color: rgb(255, 255, 255);
    overflow: auto;
}

.blog-card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* 必要に応じて改行を行う */
    gap: 25px; /* ブログカード間の間隔 */
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
    margin-top: 20px;
}

.blog-card {
    position: relative;
    width: 40vw;
    display: flex;
    align-items: center;
    background-color: #01588f;
    // background-color:  #0e5364;;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(61, 146, 207);
    text-decoration:none;
    margin:0 auto; 
    transition:1s all;
}

.blog-card:hover {
    border: 3px solid yellow;
    transition: border-color 0.2s ease-in-out;
    transform:scale(1.1,1.1);
    transition:0.5s all;
}

.blog-card img {
    width: 15vw;
    height:max(30vh, 150px);
    object-fit: cover;
    border-radius: 4px;
    margin: 10px;
}


.blog-card-content {
    color: #e5e5e5;
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.blog-card .fa-tags {
    color: #ffffff;
    margin-left: 5px;
    font-size: 0.8rem;
}

.blog-card-title {
    font-size: 24px;
    margin-bottom: 8px;
}

.blog-card-description {
    font-size: 14px;
    color: #e5e5e5;
    margin-bottom: 8px;
}

.blog-card-link {
    display: inline-block;
    font-size: 14px;
    color: #eeff00;
    text-decoration: none;
    border-bottom: 1px solid #eeff00;
    left: 10%; /* 文字を中央揃えにする */
}


@media (max-width: 600px) {
    .blog-card-container {
        position: relative;
        display: flex;
        flex-wrap: wrap; /* 必要に応じて改行を行う */
        gap: 15px; /* ブログカード間の間隔 */
        color: rgb(255, 255, 255);
        margin-bottom: 100px;
        margin-top: 10px;
    }

    .blog-card {
        position: relative;
        width: 80vw;
        display: flex;
        align-items: center;
        background-color: #01588f;
        // background-color:  #0e5364;;
        border-radius: 8px;
        padding: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 2px solid rgb(61, 146, 207);
        text-decoration:none;
        transition:1s all;
    }
    .blog-card img {
        width: 120px;
        height: 100px;
        border: 2px solid rgb(130, 162, 205);
    }
    .blog-card-title {
        font-size: 18px;
        margin-bottom: 2px;
        margin-top: -10px;
    }
    .blog-card-description {
        font-size: 10px;
        color: #e5e5e5;
        margin-bottom: 2px;
    }
    .blog-card-link {
        display: inline-block;
        font-size: 12px;
        color: #eeff00;
        text-decoration: none;
        border-bottom: 1px solid #eeff00;
        margin-bottom: 4px;
    }
}