@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.sns-icons {
    position: relative;
    z-index: 1px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

 .sns-icons ul {
    position: relative;
    display: flex;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
 }
 .sns-icons ul li {
   position: relative;
   list-style: none;
   width: 60px;
   height: 60px;
   margin: 0px 20px;
 }
 @media (max-width: 767px) {
    .sns-icons ul {
        position: relative;
        display: flex;
        transform: rotate(-25deg) skew(25deg);
        transform-style: preserve-3d;
        transform: translateX(-50%);
    }
    .sns-icons ul li {
      position: relative;
      list-style: none;
      width: 60px;
      height: 60px;
      margin: 0px 40px;
    }
 }
 .sns-icons ul li:before{
   content: '';
   position: absolute;
   bottom: -10px;
   left: -5px;
   width: 60px;
   height: 10px;
   background: #2a2a2a;
   transform-origin: top;
   transform: skewX(-41deg);
 }
 .sns-icons ul li:after{
   content: '';
   position: absolute;
   top:5px;
   left: -9px;
   width: 9px;
   height: 60px;
   background: #2a2a2a;
   transform-origin: right;
   transform: skewY(-49deg);
 }
 .sns-icons ul li span{
   position: absolute;
   top: 0;
   left: 0;
   width: 60px;
   height: 60px;
   display: flex !important;
   background: #2a2a2a;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 30px !important;
   transition: 1.5s ease-out;
 }
 .sns-icons ul li:hover span {
   z-index: 1000;
   transition: .3s;
   color: #fff;
   box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
 }
 .sns-icons ul li:hover span:nth-child(5){
   transform: translate(50px, -50px);
   opacity: 1;
 }
 .sns-icons ul li:hover span:nth-child(4){
   transform: translate(30px, -30px);
   opacity: .8;
 }
 .sns-icons ul li:hover span:nth-child(3){
   transform: translate(20px, -20px);
   opacity: .6;
 }
 .sns-icons ul li:hover span:nth-child(2){
   transform: translate(10px, -10px);
   opacity: .4;
 }
 .sns-icons ul li:hover span:nth-child(1){
   transform: translate(0px, 0px);
   opacity: .2;
 }
 .sns-icons ul li:nth-child(1):hover span{
   background: #52E19F ;
 }
 .sns-icons ul li:nth-child(2):hover span{
   background: #2C3456 ;
 }
 .sns-icons ul li:nth-child(3):hover span{
   background: #EA6E96 ;
 }
 .sns-icons ul li:nth-child(4):hover span{
   background: #FCEB00 ;
 }