@import "./_common";

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

canvas {
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.hero {
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*中央寄せ*/
    color: aliceblue;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
}

.hero p {
    font-size: 50px;
    font-weight: 1000;
}

.hero button{
    color: white;
    font-size: 30px;
    margin: 30px;
    padding: 20px 40px;
    background-color: transparent;
    border: 2px solid white;
    /* font-size: 20px; */
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s ease;
}

.hero button:hover {
    color:rgb(0, 0, 0);
    background-color: white;
    border: 1px solid black;
}