---
import Layout from '../layouts/Layout.astro';
import '../styles/algo.scss';
import SimpleIcons from '../components/sns_icons_simple.astro';

---
<Layout title="algo">
        <div class="article">
            <div class="hero">
                <h1>アルゴリズムとデータ構造(工事中)</h1>
                <p>問題置き場にするつもり</p>
            </div>


            <section class="algorithm-list">
                    <!-- <summary>  -->
                        <h2>動的計画法 (Dynamic Programming, DP)</h2> 
                    <!-- </summary> -->
                    <h3>動的計画法とは</h3>
                    <h3>部分和問題</h3>
                    <h3>ナップザック問題</h3>
                    <h3>最長共通部分列問題 (Longest Common Subsequence, LCS)</h3>
                    <h3>区間DP</h3>
                                    
                    <h3>最長増加部分文字列 (Longest Increasing Subsequence, LIS)</h3>
                    
                    <h2 class="article-heading">midashi</h2>
                    <ol>
                        <li><a href="algorithm1.html">アルゴリズム1の説明</a></li>
                        <li><a href="algorithm2.html">アルゴリズム2の説明</a></li>
                        <li><a href="algorithm3.html">アルゴリズム3の説明</a></li>
                    </ol>
                <!-- </details> -->
            </section>
     
        </div>
        <SimpleIcons />
</Layout>

<style> 
    .article {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 1rem;
    }


</style> 