---
import Layout from '../layouts/Layout.astro';
import '../styles/algo.scss';
import SimpleIcons from '../img/sns_icons_simple.astro';

---
<Layout title="algo">
        <div class="article">
            <div class="hero">
                <h1>アルゴリズムとデータ構造(工事中)</h1>
                <p>問題置き場にする(?)</p>
            </div>

            <section class="algorithm-list">
                    <!-- <summary>  -->
                    <h2>動的計画法 (Dynamic Programming, DP)</h2> 
                    <!-- </summary> -->
                    <h3>動的計画法とは</h3>
                    <h3>部分和問題</h3>
                    <h3>ナップザック問題</h3>
                    <h3>最長共通部分列問題 (Longest Common Subsequence, LCS)</h3>
                    <h3>区間DP</h3>
                                    
                    <h3>最長増加部分文字列 (Longest Increasing Subsequence, LIS)</h3>
                    <class class="source_code">                
                        <pre><code>
&lt;script&gt;
    console.log("コードを表示させてみました");
&lt;/script&gt;
                        </code></pre>                
                    </class>

                    <h2 class="article-heading">midashi</h2>
                    <ol>
                        <li><a href="algorithm1.html">アルゴリズム1の説明</a></li>
                        <li><a href="algorithm2.html">アルゴリズム2の説明</a></li>
                        <li><a href="algorithm3.html">アルゴリズム3の説明</a></li>
                    </ol>

            <class class="source_code">
                <pre>
                    <code>
#include &lt;iostream&gt;
#include &lt;iostream&gt;
#include &lt;vector&gt;
using namespace std;
using Graph = vector&lt;vector&lt;int&gt;&gt;;

// 深さ優先探索
vector&lt;bool&gt; seen;
void dfs(const Graph &amp;G, int v) &#123;
    seen[v] = true; // v を訪問済にする

    // v から行ける各頂点 next_v について
    for (auto next_v : G[v]) &#123;
        if (seen[next_v]) continue; // next_v が探索済だったらスルー
        dfs(G, next_v); // 再帰的に探索
    &#125;
&#125;
                    </code>
                </pre>    
            </class>
            </section>
        </div>

        <SimpleIcons />
</Layout>

<style> 
    .source_code {
        background-color: #050a16; 
        border-radius: 5px;
        display:flex;
        color: rgb(255, 255, 255);
        border: 5px solid rgb(79, 225, 225); 
        border-radius: 15px; 
        opacity: 0.9; 
        height: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        overflow-x: auto;
        /* padding: 0.1rem;  */
    }

    .source_code code {
        display: block;
        padding: 0;
        z-index: 2;
        -webkit-overflow-scrolling: touch; 
        color: rgb(255, 255, 255);  
    } 

    pre {
        margin: 0;
        /* background-color: #000000;
        border: 1px solid #ccc; */
        display: flex; 
        white-space: pre-wrap;
        padding: 1em 1.5em; 
    }

    code {
        white-space: pre-wrap;
        overflow-x: auto;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        flex-grow: 1; 
        margin: 0; 
    }

    .article {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 1rem;
    }


</style> 