---
import Layout from '../layouts/Layout.astro';
import '../styles/algo.scss';
import SimpleIcons from '../components/sns_icons_simple.astro';

---
<Layout title="algo">
        <div class="article">
            <div class="hero">
                <h1>アルゴリズムとデータ構造(工事中)</h1>
                <p>問題置き場にするつもり</p>
            </div>


            <section class="algorithm-list">
                <!-- <details open>
                    <summary> <h2>動的計画法 (Dynamic Programming, DP)</h2> </summary>
                    <h3>動的計画法とは</h3>
                    <h3>部分和問題</h3>
                    <h3>ナップザック問題</h3>
                    <h3>最長共通部分列問題 (Longest Common Subsequence, LCS)</h3>
                    <h3>区間DP</h3>
                                    
                    <h3>最長増加部分文字列 (Longest Increasing Subsequence, LIS)</h3>
                    
                    <h2 class="article-heading">midashi</h2>
                    <ol>
                        <li><a href="algorithm1.html">アルゴリズム1の説明</a></li>
                        <li><a href="algorithm2.html">アルゴリズム2の説明</a></li>
                        <li><a href="algorithm3.html">アルゴリズム3の説明</a></li>
                    </ol>
                </details> -->
                <!-- <h3>saasasasasas</h3> -->
                <!-- <details open> -->
                    <!-- <summary>  -->
                        <h2>動的計画法 (Dynamic Programming, DP)</h2> 
                    <!-- </summary> -->
                    <h3>動的計画法とは</h3>
                    <h3>部分和問題</h3>
                    <h3>ナップザック問題</h3>
                    <h3>最長共通部分列問題 (Longest Common Subsequence, LCS)</h3>
                    <h3>区間DP</h3>
                                    
                    <h3>最長増加部分文字列 (Longest Increasing Subsequence, LIS)</h3>
                    
                    <h2 class="article-heading">midashi</h2>
                    <ol>
                        <li><a href="algorithm1.html">アルゴリズム1の説明</a></li>
                        <li><a href="algorithm2.html">アルゴリズム2の説明</a></li>
                        <li><a href="algorithm3.html">アルゴリズム3の説明</a></li>
                    </ol>
                <!-- </details> -->
            </section>
     
        </div>
        <SimpleIcons />
    </main>
</Layout>

<style> 
    /* details {
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 0.5em 0.5em 0;
        background-color: #000000;
        color: black;
        position: sticky;
    }

    summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
        color: rgb(255, 255, 255);
        position: sticky;
    }

    details[open] {
        padding: 0.5em;
        color: #ffffff;
    }  */

    details {
        font: 16px "Open Sans", Calibri, sans-serif;
        width: 620px;
        margin-top: 100px;
        position: relative;
        height: fit-content;
    }

details > summary {
  padding: 2px 6px;
  width: 15em;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  position: fixed;
  cursor: pointer;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}

details[open] > summary {
  background-color: #ccf;
}

</style> 