---
import Layout from '../layouts/Layout.astro';
import '../styles/algo.scss';

---
<Layout title="algo">
    <main>
        <div class="article">
            <div class="hero">
                <h1>アルゴリズムとデータ構造</h1>
            </div>
            
            <section class="algorithm-list">
                <h2>動的計画法 (Dynamic Programming, DP)</h2>
                <h3>動的計画法とは</h3>
                <h3>部分和問題</h3>
                <h3>ナップザック問題</h3>
                <h3>最長共通部分列問題 (Longest Common Subsequence, LCS)</h3>
                <h3>区間DP</h3>
                
                
                <h3>最長増加部分文字列 (Longest Increasing Subsequence, LIS)</h3>
                
                <h2 class="article-heading">midashi</h2>
                <ol>
                    <li><a href="algorithm1.html">アルゴリズム1の説明</a></li>
                    <li><a href="algorithm2.html">アルゴリズム2の説明</a></li>
                    <li><a href="algorithm3.html">アルゴリズム3の説明</a></li>
                    <!-- 追加のアルゴリズムをここに追記 -->
                </ol>
            </section>
        </div>
    </main>
</Layout>
