---
import Layout from '../layouts/Layout.astro';
import '../styles/algo.scss';
import SimpleIcons from '../img/sns_icons_simple.astro';
// import { customScrollReveal } from "../../components/Scroll";
---

---

<Layout title="Profile">
    <div class="wrapper">

         <!-- section01 -->
        <section class="sec-01">
            <div class="container">
                <!-- <h2 class="main-title">Haribote</h2> -->
                <div class="content">
                    <div class="image">
                    <img src="kirakira.jpeg" alt="" />
                    </div>
                    <div class="text-box">
                    <h3> I am a ... </h3>
                    <p>
                        I'm a student at the University of Tokyo. <br>
                        I'm interested in the field of computer science, especially in the field of machine learning and computer vision.
                    </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-02">
            <div class="container">
                <!-- <h2 class="main-title">Haribote</h2> -->
                <div class="content">
                    <div class="image">
                    <img src="robocon_kanban.jpg" alt="" />
                    </div>
                    <div class="text-box">
                    <h3> RoboCon </h3>
                    <p>
                        
                    </p>
                    </div>
                </div>
            </div>
        </section>

    </div>




    <SimpleIcons />    
</Layout>

<script>    
    import { customScrollReveal } from '/src/utils/scroll.js'; // 関数をインポート
    const containerOptions = {
        delay: 400,
        origin: "left"
    };
    customScrollReveal('.content', containerOptions); // インポートした関数を使用
</script>

<script src="https://unpkg.com/scrollreveal"></script>
 
<style>
    .wrapper {
        /* text-align: center; */
        color-scheme: light dark;
        color: white;
        width: 95%;
        border: 1px solid red; 
        margin: 10% auto;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 10% 0;  
        color: #fff;
        width: 100%; 
        height: 700px;
    } 

    .container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        border: 5px solid blue;
        width: 100%; 
        height: 100%;
    }


    .main-title {
        font-size: 4rem;
        margin-bottom: 50px;
    }

    .content {
        display: flex; 
        justify-content: center;
        align-items: center; 
        border: rgb(101, 186, 16) 10px solid;
        width: 100%;
        height: 100%;  
        overflow: hidden; 
    }

    .content .image {
        position: absolute;
        left: 0%;
        width: 100%; 
        height: 100%;
        border-radius: 10px;
        z-index: 10;
    }

    .content .image img {
        width: 100%; 
        height: 100%;    
        object-fit: cover;
        border-radius: 10px;
        z-index: 10;
    }

    .content .text-box {
        position: absolute;
        z-index: 20;
        background: #1a21251a;
        backdrop-filter: blur(60px); 
        padding: 20px;
        width: 45%; 
        height: 30%;
        max-width: 400px;
        max-height: 600px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        transform: translate(35%, 40%);
    }

    .content .text-box h3 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .content .text-box p {
        font-size: 1.2em;  
    }

    .section-title {
        font-size: 3em; 
        margin-bottom: 80px;
    }

    .info-title {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .info {
        width: 700px;
        margin-left: 50px;
    }

    .container h1 + h1 {
        margin-top: 20px; /* 上側のマージンを20pxに設定 */
    }

    @media screen and (max-width: 768px){ 
        .content .text-box {
            padding: 20px;
            width: 70%; 
            height: 25%;
            max-width: 300px; 
            max-height: 300px;
            transform: translate(-10%, 40%); 
            text-align: left;
        }
        .content .text-box h3 { 
            font-size: 3em;  
            margin-bottom: 10px;
        }
        .content .text-box p {
            font-size: 1.2em;  
        }
        .wrapper {
            width: 100%;
        }
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0;  
            color: #fff;
            width: 100%; 
            height: 700px;
        } 
    }


</style>