---
import Layout from '../layouts/Layout.astro';
import '../styles/algo.scss';
import SimpleIcons from '../components/sns_icons_simple.astro';

---

<Layout title="Profile">
    <div class="container">
        <h1>Under Construction</h1>
        <h1>Comming Soon !!</h1>
    </div>
    <SimpleIcons />
</Layout>

<style>
    .container {
        position: relative;
        margin: 30%;
        transform: translateY(-30%);
        text-align: center;
        color-scheme: light dark;
        color: white;
    }

    .container h1 + h1 {
        margin-top: 20px; /* 上側のマージンを20pxに設定 */
    }
</style>