---

---

    <div class="sns-icons">
        <div>
            <ul> 
            <li>
                <a href="https://github.com/Sakasu-TUAT">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-github"></span>
                </a> 
            </li>
            <li>
                <a href="https://twiter.com/share?url=http://localhost:3000/articles/article-1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-twitter"></span>
                </a> 
            </li>
            <li>
                <a href="http://www.facebook.com/share.php?u=http://localhost:3000/articles/article-1" rel="nofollow noopener" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook"></span>
                </a> 
            </li>
            
            <li>
                <a href="https://www.linkedin.com/sharing/share-offsite/?url=http://localhost:3000/articles/article-1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-linkedin"></span>
                </a> 
            </li>
            </ul>  
        </div> 
    </div>

<style lang="scss">
  @import "../styles/_sns_icons.scss";
</style>
