<footer>
  <div class="footer-content">
    <p><small>&copy; 2023 Sakasu's Note. All rights reserved.</small></p>
  </div>
</footer>

<style lang="scss">
  @import "../styles/_footer.scss";
</style>

