<header class="header">
    <div class="logo-title">
        <h2>Sakasu's Note</h2>
    </div>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/algo.html">Algo</a></li>
            <li><a href="/profile.html">Profile</a></li>
            <li><a href="/blog.html">Blog</a></li>
        </ul>
    </nav>
</header>

<style lang="scss">
  @import "../styles/_header.scss";
</style>
